* {
  box-sizing: border-box;
}

body {

  font-family: sans-serif;
  height: 100vh;
  display: flex;
}

#app {
  background: #d9d9d9;
  width: 80%;
  margin: auto;
  height: 80%;
  display: flex;
  border-radius: 0.5rem;
  padding-right: 1rem;
}

#left-side {
  height: 100%;
  width: 30%;
  border-radius: 0.5rem 0 0 0.5rem;
  background-image: url("https://images.unsplash.com/photo-1593487806527-40dcc19864bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
}
#main {
  height: 100%;
  width: 70%;
}

header {
  margin: 0 auto;
  margin-right: auto;
  padding: 1rem;
}

h1 {
  font-size: xx-large;
  padding: 1rem;
  font-weight: bold;
  /* color: #81933b; */
}

h2 {
  font-size: large;
  padding: 1rem;
  font-weight: bold;
  color: #5d5441;
}

#need, #result {
  padding: 1rem;
}



select {
  background: #eee;
  border-color: #bbb;
  width: 100%;
  font-size: x-large;
  padding: .5rem;
}

#count {
  border-bottom: .1rem solid;
  border-color: #bbb;
  width: 100%;
  font-size: x-large;
  font-weight: bold;
  padding: .5rem;
  margin: 1rem 0;
}

.plant {
  background: #909d8b;
  border-color: #bbb;
  border-radius: 0.2rem;
  width: 100%;
  padding: .7rem;
  margin: .6rem 0;
  font-size: large;
  color: white;
}

span {
  background: #5e6048;
  border-radius: 0.2rem;
  padding: .2rem;
  margin: .2rem;
  font-size: small;
}
